<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - StudioFilm</title>
        <link rel="stylesheet" href="~/css/app.css"/>
</head>
<body class="theme-dark">
<div id="wrapper">
    <div id="content">
        <header>
            <div class="container">
                <nav class="d-flex justify-content-between">
                    <a class="py-3 text-bold" href="#">StudioFilm</a>
                    <ul class="py-3 d-flex">
                        <li><a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a class="nav-link" asp-controller="Product" asp-action="Index">Catalog</a></li>
                        <li><a class="nav-link" asp-controller="Category" asp-action="Index">Categories</a></li>
                    </ul>
                    <div>
                        @* <a class="btn" href="#">Login</a> *@
                        @* <a class="btn" href="#">Sign-Up</a> *@
                        <partial name="_LoginPartial" />
                    </div>
                </nav>
            </div>
        </header>
        <main>
            @RenderBody()
        </main>
    </div>
</div>
@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
@* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>