@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@using IntroAspNet.Services
@inject IHttpContextAccessor HttpContextAccessor

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="d-flex align-items-center" >
        <a asp-controller="Cart" asp-action="Index" class="me-4">
            <i class="fas fa-shopping-cart"></i>
            @{
                var carts = HttpContextAccessor.HttpContext.Session.Get<IEnumerable<Cart>>("carts");
                int countCarts = 0;
                if (carts != null)
                {
                    countCarts = HttpContextAccessor.HttpContext.Session.Get<IEnumerable<Cart>>("carts").Count();
                }
            }
            <span>(@countCarts)</span>
        </a>
        <span id="barMenu" style="position: relative; cursor: pointer;">@UserManager.GetUserName(User)
            <ul id="dropMenu" class="p-3" style="position: absolute; z-index: 2; background-color: rgba(0,0,0,0.9); width: 180px; box-sizing: border-box; border: 1px solid #ffffff; margin-top: 24px; left: 50%; transform: translateX(-50%);">
                <li class="mb-2">
                    <a href="#">Profile</a>
                </li>
                <li class="mb-3">
                    <a href="#">Settings</a>
                </li>
                <hr style="border: none; border-bottom: 1px solid #ffffff;" class="mb-3">
                <li>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                        <button id="logout" type="submit" class="btn py-2 px-3">Logout</button>
                    </form>
                </li>
            </ul>
        </span>
    </div>
}
else
{
    <div>
        <a class="btn" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        <a class="btn" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
}


