@model IntroAspNet.Models.ViewModels.HomeVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var item in Model.Products) 
    { 
        <partial model="item" name="_productCard"/>
    }
</div>