@model IntroAspNet.Models.ViewModels.HomeVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-3">
    <div class="row">
        @foreach (var item in Model.Categories) 
        { 
            <partial model="item" name="_categoryCard"/>
        }
    </div>
</div>