@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div style="width: 256px; position: fixed; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%);">
    <h1>Register</h1>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" --disable-ignore-autocomplete-off autocomplete="off">
        <label class="textBox">
            <span>Email</span>
            <input --disable-ignore-autocomplete-off autocomplete="new-user-full-name" asp-for="Input.Email" placeholder="Type email here.." type="email">
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </label>
        <label class="textBox">
            <span>Password</span>
            <input autocomplete="off" asp-for="Input.Password" placeholder="Type password here.." type="password">
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </label>
        <label class="textBox">
            <span>Confirm password</span>
            <input asp-for="Input.ConfirmPassword" placeholder="Type password again here.." type="password">
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </label>
        <button type="submit" class="btn p-3 mt-3" style="width: 100%;">Register</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
